
body{direction: rtl;}
#a{display: flex;
    text-align: center;
    background-color: rgb(137, 133, 133);
    margin: 1px;


    
    
}

.d1{flex-grow: 1;
     border-radius: 1px;
     background-color: rgb(78, 77, 77);
     margin: 4px;
     list-style: none;   }
     



       

header{border: 1px solid ;
    margin: 1px;
    border-radius:2px;
    flex-grow: 1;
    
}
#no{border: 50px solid;
    left: 50px auto;
}

h3{text-align: right ;}
main{border: 3px solid;
    margin: 10px auto;
}

#r{border: 1px solid;}
#z{left: auto;
    border: 1pt solid;
}
#y{right: auto;}
#p{border: 1px solid;

}
#o{
    border: 3px solid;
}
#u{border: 4px solid;}
footer{border: auto solid;

text-align: left;

}
#titl{text-align: center;}


#no{text-align: center;}
#no2{text-align: center;}
